body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}
.pagehead {
  background-color: black;
  height: 69px;
  width: 100%;
  display: flex;
  align-items: center;
  position:fixed;
  border-bottom: 1px solid seashell;
  z-index: 20;
}
.pagehead .logo img {
  height:50px;
  margin-left: 10px;
}
.pagehead nav {
  display:inline-flex;
  justify-content: flex-end;
  margin-right: 40px;
  width: 100%;
}
.pagehead p {
  text-decoration: underline;
  align-items: center;
  padding-left: 20px;
}
.pagehead a {
  color: seashell;
}
.mission {
  display: flex;
  align-items: center;
}
.mission img {
  position:absolute;
  height: 700px;
  width: 1200px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 0;
  margin-bottom: 50px;
  z-index: 0;
}
.mission .banner {
  background-color: black;
  width: 1200px;
  position: relative;
  top: 350px;
  bottom: 350px;
  margin-left: 50px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.teas {
  display: flex;
  align-items: center;
  position: relative;
  top: 700px;
  margin-left: 150px;
}
.teas .banner {
  width: 1000px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: center;
}
